<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>个人中心</title>
    <meta name="description" content="个人中心"/>
    <meta th:replace="fragments/snipplets:: head"/>
</head>
<body>

<div th:replace="fragments/snipplets :: nav">...</div>

<div class="container">
    <div class="card text-center p-0">
        <div class="card-body p-0">
            <div style="background-image: url('https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/441870/72cd26e14b7fcba028206a06f10548c0d5174cfc.jpg')">
                <img class="avatar-img rounded-circle card-img-top mx-auto" th:src="@{${user.getProfileImgSrc()}}"
                     style="width: 100px; height: auto">
                <h3 class="card-title">
                    <span class="card-title text-light" th:text="${user.getProfileName()+': '}">Profile Name</span>
                    <span class="card-text text-light" th:text="${user.getReputation()}"></span>
                </h3>
            </div>
        </div>

        <div class="accordion" id="infoGroup">
            <div class="btn-group btn-group-sm d-flex">
                <button type="button" class="btn btn-secondary w-100" data-toggle="collapse" data-target="#messages"
                        data-parent="#infoGroup">
                    消息
                    <span class="badge badge-pill badge-danger " th:text="${messages.size()}"
                          th:if="${messages.size()>0}"></span>
                </button>
                <button type="button" class="btn btn-secondary w-100" data-toggle="collapse" data-target="#profileInfo"
                        data-parent="#infoGroup">
                    个人信息
                </button>
                <button type="button" class="btn btn-secondary w-100" data-toggle="collapse" data-target="#bookmarks"
                        data-parent="#infoGroup">
                    收藏
                    <span class="badge badge-pill badge-info " th:text="${bookmarks.size()}"></span>
                </button>
                <button type="button" class="btn btn-secondary w-100" data-toggle="collapse"
                        data-target="#subscribedQuestions"
                        data-parent="#infoGroup">
                    关注的问题
                    <span class="badge badge-pill badge-info " th:text="${subscribedQuestions.size()}"></span>
                </button>
                <button type="button" class="btn btn-secondary w-100" data-toggle="collapse"
                        data-target="#subscribedUsers"
                        data-parent="#infoGroup">
                    关注的用户
                    <span class="badge badge-pill badge-info " th:text="${subscribedUsers.size()}"></span>
                </button>
                <button type="button" class="btn btn-secondary w-100" data-toggle="collapse" data-target="#myQuestions"
                        data-parent="#infoGroup">
                    提问
                    <span class="badge badge-pill badge-success" th:text="${myQuestions.size()}"></span>
                </button>
                <button type="button" class="btn btn-secondary w-100" data-toggle="collapse" data-target="#myAnswers"
                        data-parent="#infoGroup">
                    回答
                    <span class="badge badge-pill badge-success" th:text="${myAnswers.size()}"></span>
                </button>
                <button type="button" class="btn btn-secondary w-100" data-toggle="collapse" data-target="#myMedals"
                        data-parent="#infoGroup">
                    奖章
                    <span class="badge badge-pill badge-success" th:text="${medalRecords.size()}"></span>
                </button>
            </div>

            <div class="accordion-group text-left">
                <!-- 个人信息 -->
                <div class="collapse" id="profileInfo">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-text">
                                <form id="uploadProfileImg" method="POST" enctype="multipart/form-data"
                                      th:action="${'/users/'+user.getId()}">
                                    <img class="avatar-img rounded-circle card-img-top mx-auto"
                                         th:src="@{${user.getProfileImgSrc()}}"
                                         style="width: 100px; height: auto">
                                    <div class="form-group">
                                        <label class="btn btn-sm btn-outline-secondary" style="margin-bottom: -1rem">
                                            选择头像<input name="profileImg" class="upload-avatar" type="file"
                                                       id="profileImgInput"
                                                       accept="image/*"
                                                       th:attr="data-target-url=${'/users/'+user.getId()}" hidden/>
                                        </label>
                                        <button class="btn btn-sm btn-outline-success mt-3" type="submit">确定</button>
                                    </div>
                                </form>
                                <div class="form-group row">
                                    <label for="inputProfileName" class="col-sm-2 col-form-label">昵称</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control-plaintext" id="inputProfileName"
                                               th:value="${user.getProfileName()}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputEmail" class="col-sm-2 col-form-label">邮箱</label>
                                    <div class="col-sm-10">
                                        <input type="email" readonly class="form-control-plaintext" id="inputEmail"
                                               th:value="${user.getEmail()}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="staticReputation" class="col-sm-2 col-form-label">名誉</label>
                                    <div class="col-sm-10">
                                        <input type="email" readonly class="form-control-plaintext"
                                               id="staticReputation"
                                               th:value="${user.getReputation()}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="staticRegisterTime" class="col-sm-2 col-form-label">注册时间</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext"
                                               id="staticRegisterTime"
                                               th:value="${user.getRegisterTime()}">
                                    </div>
                                </div>

                                <div class="">
                                    <button class="btn btn-sm btn-outline-secondary" data-toggle="collapse"
                                            data-target="#changePwd">修改密码
                                    </button>
                                </div>
                                <div class="collapse" id="changePwd">
                                    <form id="changePassword" th:action="${'/users/'+user.getId()}">
                                        <div class="form-row">
                                            <div class="form-group">
                                                <label>旧密码
                                                    <input name="oldPassword" placeholder="旧密码" class="form-control"
                                                           type="password">
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label>新密码
                                                    <input name="newPassword" placeholder="新密码" class="form-control"
                                                           type="password">
                                                </label>
                                            </div>
                                        </div>
                                        <button class="btn btn-sm btn-outline-secondary" type="submit">确认</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 消息 -->
                <div class="collapse show" id="messages">
                    <ul class="list-group">
                        <li class="list-group-item"
                            th:each="m: ${messages}">
                            <span th:utext="${m.getContent()}"></span>
                            <button class="delete-message btn btn-sm btn-outline-secondary float-right"
                                    th:attr="data-target-url=${'/messages/'+m.getId()}">删除
                            </button>
                            <span class="float-right text-secondary mr-4" th:text="${m.getSendTime()}"></span>
                        </li>
                    </ul>
                </div>
                <!--奖章-->
                <div class="collapse" id="myMedals">
                    <div class="card-columns">
                        <div th:each="m: ${medalRecords}" class="card">
                            <img class="card-img-top w-25 mx-auto" th:src="${m.getMedal().getIconSrc()}"
                                 src="icon">
                            <div class="card-body">
                                <h5 th:text="${m.getMedal().getTitle()}" class="card-title text-info"></h5>
                                <div th:text="${m.getMedal().getDescription()}" class="card-text"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 收藏的问题 -->
                <div class="collapse " id="bookmarks">
                    <ul class="list-group">
                        <li class="list-group-item"
                            th:each="q: ${bookmarks}">
                            <span class="oi oi-thumb-up" th:text="${q.getApprovals()}"></span>
                            <a class="" th:text="${q.getTitle()}"
                               th:href="${'/questions/'+q.getId()+'/'+q.getTitle()}">
                            </a>
                            <button class="delete-bookmark btn btn-sm btn-outline-secondary float-right"
                                    th:attr="data-target-url=${'/questions/'+q.getId()+'/bookmark'}">取消收藏
                            </button>
                        </li>
                    </ul>
                </div>
                <!-- 关注的问题 -->
                <div class="collapse " id="subscribedQuestions">
                    <ul class="list-group">
                        <li class="list-group-item"
                            th:each="q: ${subscribedQuestions}">
                            <a class="" th:text="${q.getTitle()}"
                               th:href="${'/questions/'+q.getId()+'/'+q.getTitle()}">
                            </a>
                            <span class="oi oi-thumb-up" th:text="${q.getApprovals()}"></span>
                            <button class="delete-question-subscription btn btn-sm btn-outline-secondary float-right"
                                    th:attr="data-target-url=${'/questions/'+q.getId()+'/subscription'}">取消关注
                            </button>
                        </li>
                    </ul>
                </div>
                <!-- 关注的用户 -->
                <div class="collapse " id="subscribedUsers">
                    <ul class="list-group">
                        <li th:each="u: ${subscribedUsers}" class="list-group-item">
                            <img class="rounded-circle" th:src="${u.getProfileImgSrc()}" style="width: 30px">
                            <span th:text="${u.getProfileName()}"></span>
                            <span th:text="${u.getReputation()}" class="oi oi-people"></span>
                            <button class="delete-user-subscription btn btn-sm btn-outline-secondary float-right"
                                    th:attr="data-target-url=${'/users/'+u.getId()+'/subscription'}">
                                取消关注
                            </button>
                        </li>
                    </ul>
                </div>
                <!-- 我的提问  -->
                <div class="collapse " id="myQuestions">
                    <ul class="list-group">
                        <li class="list-group-item"
                            th:each="q: ${myQuestions}">
                            <a class="" th:text="${q.getTitle()}"
                               th:href="${'/questions/'+q.getId()+'/'+q.getTitle()}">
                            </a>
                            <span th:text="${q.getAnswers().size()+'回答'}"></span>
                            <span class="oi oi-thumb-up" th:text="${q.getApprovals()}"></span>
                            <span class="text-secondary float-right" th:text="${q.getCreateTime()}"></span>
                        </li>
                    </ul>
                </div>
                <!-- 我的回答 -->
                <div class="collapse " id="myAnswers">
                    <ul class="list-group">
                        <li class="list-group-item"
                            th:each="a: ${myAnswers}" th:with="q=${questionMap.get(a.getQuestionId())}">
                            <a th:text="${q.getTitle()}"
                               th:href="${'/questions/'+q.getId()+'/'+q.getTitle()}"></a>
                            <span th:text="${a.getAnswerComments().size()+'评论'}"></span>
                            <span class="oi oi-thumb-up" th:text="${q.getApprovals()}"></span>
                            <span class="text-secondary float-right" th:text="${a.getCreateTime()}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/snipplets:: footer"></div>

    <script th:replace="fragments/snipplets:: script"></script>

    <script>

        jQuery('#infoGroup .btn-group button').click(function (e) {
            jQuery('.collapse').collapse('hide');
        });

        $('.delete-message, .delete-bookmark, .delete-user-subscription, .delete-question-subscription').each(function (i) {
            $(this).click(function () {
                if (!hasValidToken()) {
                    alert("请先登录");
                    localStorage.removeItem("token");
                    location.replace('/user/sign-in');
                    return;
                }
                var url = $(this).data('target-url') + '?token=' + localStorage.getItem('token');
                $.ajax({
                    type: 'DELETE', // define the type of HTTP verb we want to use (POST for our form)
                    url: url, // the url where we want to POST
                    dataType: 'json', // what type of data do we expect back from the server
                    encode: true,
                    success: function (data) {
                        if (data.success === true) {
                            alert("删除成功");
                            $(this).hide();
                            $(this).parent().hide();
                        } else {
                            alert(data.message);
                        }
                    }
                })
            })
        });
        $('#changePassword').submit(function (event) {
            if (!hasValidToken()) {
                alert("请先登录");
                localStorage.removeItem("token");
                event.preventDefault();
                location.replace('/user/sign-in');
                return;
            }
            var url = $(this).attr('action');
            var formData = {
                token: localStorage.getItem('token'),
                oldPassword: $(this).find("input[name='oldPassword']").val(),
                newPassword: $(this).find("input[name='newPassword']").val()
            };
            $.ajax({
                type: 'PUT', // define the type of HTTP verb we want to use (POST for our form)
                url: url, // the url where we want to POST
                data: formData,
                dataType: 'json', // what type of data do we expect back from the server
                encode: true,
                success: function (data) {
                    if (data.success === true) {
                        alert("密码修改成功");
                        location.reload();
                    } else {
                        alert(data.message);
                    }
                }
            });
            event.preventDefault();
        });
        $('#profileImgInput').change(
            function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#uploadProfileImg').find("img").attr('src', e.target.result);
                    };
                    reader.readAsDataURL(this.files[0]);
                }
            }
        );
        $('#uploadProfileImg').submit(function(event) {
            var input = $('#profileImgInput')[0];
            if(!input.files || !input.files[0]) {
                e.preventDefault();
                return;
            }
            var formData = new FormData();
            formData.append('profileImg', input.files[0]);
            formData.append('token', localStorage.getItem('token'));
            $.ajax({
                url : $(this).attr('action'),
                type : 'POST',
                data : formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success : function(data) {
                    if (data.success) {
                        location.reload();
                    } else {
                        alert(data.message);
                    }
                }
            });
            event.preventDefault();
        });
    </script>
</body>
</html>