<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title th:text="${question.getTitle()}"></title>
    <meta name="description" content="首页"/>
    <meta th:replace="fragments/snipplets:: head">
</head>
<body>
<script>
    var quillReadOnlyData = {};
</script>
<div th:replace="fragments/snipplets :: nav">...</div>

<div class="container">
    <div class="row">
        <h2 th:text="${question.getTitle()}">Question Title</h2>
        <a href="/questions/ask" class="ml-auto">
            <button type="button" class="btn btn-lg btn-outline-success">提问</button>
        </a>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-2">
                    <div class="profile-info-card">
                        <img class="img-fluid" th:src="${question.getUser().getProfileImgSrc()}" src="#">
                        <p th:text="${question.getUser().getProfileName()}"></p>
                        <p th:text="${'reputations: '+question.getUser().getReputation()}"></p>
                    </div>
                    <form class="approval-form  d-inline-block" th:action="@{${'/questions/'+question.getId()+'/approval'}}" method="post">
                        <button type="submit" class="btn btn-sm btn-success"><span class="oi oi-thumb-up"></span><span th:text="${question.getApprovals()}"></span></button>
                    </form>
                    <form class="approval-form  d-inline-block"  th:action="@{${'/questions/'+question.getId()+'/disapproval'}}" method="post">
                        <button type="submit" class="btn btn-sm btn-danger"><span class="oi oi-thumb-down"></span><span th:text="${question.getDisapprovals()}"></span></button>
                    </form>
                </div>
                <div class="col-10">
                    <div class="question-container">

                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            quillReadOnlyData["question-[[${question.getId()}]]"] = /*[[${question.getDescription()}]]*/ 'default';
                            /*]]>*/
                        </script>
                        <!-- 问题描述 -->
                        <div th:id="${'question-'+question.getId()}" class="editor-data-read-only"></div>
                        <!-- 标签 -->
                        <div th:each="tag: ${question.getTags()}" class="d-inline-block">
                            <a th:href="@{${'/questions/tagged/'+tag.getTitle()}}" href="#"
                               th:text="${tag.getTitle()}" class="badge badge-pill">标签</a>
                        </div>

                        <hr>

                        <!-- 评论 -->
                        <ul th:each="comment: ${question.questionComments}" class="comments-container">
                            <li>
                                <script th:inline="javascript">
                                    /*<![CDATA[*/
                                    quillReadOnlyData["question-comment-[[${comment.getId()}]]"] = /*[[${comment.getContent()}]]*/ 'default';
                                    /*]]>*/
                                </script>
                                <span th:text="${comment.getUser().getProfileName()} "
                                      class="text-info">User Name</span>
                                <span th:text="${comment.getCreateTime()}" class="text-secondary">Create Time</span>
                                <div th:id="${'question-comment-'+comment.getId()}" class="editor-data-read-only">
                                    问题评论
                                </div>
                            </li>
                        </ul>
                        <!-- 添加评论 -->
                        <form class="comment-form" method="post"
                              th:action="@{${'/questions/'+question.getId()+'/comment'}}">
                            <div class="row">
                                <div class="col-11">
                                    <div class="comment-editor"
                                         th:id="${'add-question-comment-'+question.getId()}"></div>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-outline-secondary btn-sm" type="submit">评论</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <h3>回答</h3>

            <div th:each="answer: ${question.getAnswers()}" class="row">
                <div class="col-2">
                    <div class="profile-info-card">
                        <img class="img-fluid" th:src="${answer.getUser().getProfileImgSrc()}" src="#">
                        <p th:text="${answer.getUser().getProfileName()}"></p>
                        <p th:text="${'reputations: '+answer.getUser().getReputation()}"></p>
                    </div>
                    <form class="approval-form  d-inline-block" th:action="@{${'/answers/'+answer.getId()+'/approval'}}" method="post">
                        <button type="submit" class="btn btn-sm btn-success"><span class="oi oi-thumb-up"></span><span th:text="${answer.getApprovals()}"></span></button>
                    </form>
                    <form class="approval-form  d-inline-block"  th:action="@{${'/answers/'+answer.getId()+'/disapproval'}}" method="post">
                        <button type="submit" class="btn btn-sm btn-danger"><span class="oi oi-thumb-down"></span><span th:text="${answer.getDisapprovals()}"></span></button>
                    </form>
                </div>
                <div class="col-10">
                    <div class="answers-container">
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            quillReadOnlyData["answer-[[${answer.getId()}]]"] = /*[[${answer.getContent()}]]*/ 'default';
                            /*]]>*/
                        </script>
                        <!-- 回答内容 -->
                        <div th:id="${'answer-'+answer.getId()}" class="editor-data-read-only"></div>
                        <!-- 评论 -->
                        <ul th:each="comment: ${answer.getAnswerComments()}" class="comments-container">
                            <li>
                                <script th:inline="javascript">
                                    /*<![CDATA[*/
                                    quillReadOnlyData["answer-comment-[[${comment.getId()}]]"] = /*[[${comment.getContent()}]]*/ 'default';
                                    /*]]>*/
                                </script>
                                <span th:text="${comment.getUser().getProfileName()}" class="text-info">User Name</span>
                                <span th:text="${comment.getCreateTime()}" class="text-secondary">Create Time</span>
                                <div th:id="${'answer-comment-'+comment.getId()}" class="editor-data-read-only">
                                    回答评论
                                </div>
                            </li>
                        </ul>
                        <!-- 添加评论 -->
                        <form class="comment-form" method="post"
                              th:action="@{${'/answers/'+answer.getId()+'/comment'}}">
                            <div class="row">
                                <div class="col-11">
                                    <div class="comment-editor" th:id="${'add-answer-comment-'+answer.getId()}"></div>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-outline-secondary btn-sm" type="submit">评论</button>
                                </div>
                            </div>
                        </form>

                        <hr>

                    </div>
                </div>
            </div>

            <form class="answer-form" th:action="@{${'/questions/'+question.getId()+'/answer'}}">
                <div class="form-group">
                    <label for="answer-content">添加回答</label>
                    <input name="answer-content" id="answer-content" type="hidden">
                    <div id="answer-editor" style="height: 130px;"></div>
                </div>
                <button class="btn btn-primary" type="submit">Save Profile</button>
            </form>

        </div>

        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item">

                </li>
            </ul>
        </div>
    </div>
</div>

<div th:replace="fragments/snipplets:: footer"></div>
<script th:replace="fragments/snipplets:: script"></script>
<script>

    /**
     * 初始化回答编辑框
     * */
    var answerQuill = new Quill('#answer-editor', {
        modules: {
            toolbar: [
                ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                ['blockquote', 'code-block'],
                [{'header': 1}, {'header': 2}],               // custom button values
                [{'list': 'ordered'}, {'list': 'bullet'}],
                [{'header': [1, 2, 3, 4, 5, 6, false]}],

                [{'color': []}, {'background': []}],          // dropdown with defaults from theme
                [{'font': []}],
                [{'align': []}],

                ['clean']                                         // remove formatting button
            ]
        },
        placeholder: '添加回答',
        theme: 'snow'
    });

    var readOnlyEditors = {};

    /**
     * 加载原始数据到编辑器
     */
    $('.editor-data-read-only').each(function (i) {
        var $content = JSON.parse(quillReadOnlyData[$(this).attr('id')]);
        var id = $(this).attr("id");
        readOnlyEditors[id] = new Quill(this, {
            modules: {
                toolbar: []
            }, readOnly: true,
            theme: 'bubble'
        });
        readOnlyEditors[id].setContents($content);
    });

    /**
     * 提交回答表单
     */
    $('.answer-form').submit(function (event) {
        if(!hasValidToken()) {
            alert("请先登录");
            localStorage.removeItem("token");
            event.preventDefault();
            location.replace('/user/sign-in');
            return;
        }
        var url = $(this).attr('action');
        var formData = {
            content: JSON.stringify(answerQuill.getContents()),
            token: localStorage.getItem("token")
        };
        $.ajax({
            type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
            url: url, // the url where we want to POST
            data: formData, // our data object
            dataType: 'json', // what type of data do we expect back from the server
            encode: true,
            success: function (data) {
                if (data.success === true) {
                    location.reload();
                } else {
                    alert(data.message);
                }
            }
        });
        // stop the form from submitting the normal way and refreshing the page
        event.preventDefault();
    });

    /**
     * 初始化评论编辑框
     */
    var commentEditors = {};
    $('.comment-editor').each(function (i) {
        var id = $(this).attr("id");
        commentEditors[id] = new Quill(this, {
            modules: {
                toolbar: [
                    'bold',
                    'italic',
                    'underline',
                    'strike',
                    'link'
                ]
            },
            placeholder: '添加评论',
            theme: 'bubble'
        });
    });

    /**
     * 提交评论
     */
    $('.comment-form').each(function (i) {
        $(this).submit(function (event) {
            if(!hasValidToken()) {
                alert("请先登录");
                localStorage.removeItem("token");
                event.preventDefault();
                location.replace('/user/sign-in');
                return;
            }
            var url = $(this).attr('action');
            var commentEditorId = $(this).find('.comment-editor').attr('id');
            var content = JSON.stringify(commentEditors[commentEditorId].getContents());
            var formData = {
                token: localStorage.getItem('token'),
                content: content
            };
            $.ajax({
                type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                url: url, // the url where we want to POST
                data: formData, // our data object
                dataType: 'json', // what type of data do we expect back from the server
                encode: true,
                success: function (data) {
                    if (data.success === true) {
                        location.reload();
                    } else {
                        alert(data.message);
                    }
                }
            });
            // stop the form from submitting the normal way and refreshing the page
            event.preventDefault();
        });
    });

    $('.approval-form').each(function(i) {
        $(this).submit(function(event) {
            if(!hasValidToken()) {
                alert("请先登录");
                localStorage.removeItem("token");
                event.preventDefault();
                location.replace('/user/sign-in');
                return;
            }
            var url = $(this).attr('action');
            var formData = {
                token: localStorage.getItem('token'),
            };
            $.ajax({
                type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                url: url, // the url where we want to POST
                data: formData, // our data object
                dataType: 'json', // what type of data do we expect back from the server
                encode: true,
                success: function (data) {
                    if (data.success === true) {
                        location.reload();
                    } else {
                        alert(data.message);
                    }
                }
            });
            // stop the form from submitting the normal way and refreshing the page
            event.preventDefault();
        })
    });
</script>
</body>
</html>