<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title th:text="${question.getTitle()}"></title>
    <meta name="description" th:content="${question.getTitle()}"/>
    <meta th:replace="fragments/snipplets:: head">
</head>
<body>
<script>
    var quillReadOnlyData = {};
</script>
<div th:replace="fragments/snipplets :: nav">...</div>

<div class="container">
    <div class="row">
        <h2 th:text="${question.getTitle()}">Question Title</h2>
        <button class="add-question-bookmark btn btn-sm btn-outline-secondary mr-2"
                th:attr="data-target-url=${'/questions/'+question.getId()+'/bookmark'}">
            收藏
        </button>
        <button class="add-question-subscription btn btn-sm btn-outline-secondary"
                th:attr="data-target-url=${'/questions/'+question.getId()+'/subscription'}">
            关注
        </button>
        <a href="/questions/ask" class="ml-auto">
            <button type="button" class="btn btn-lg btn-outline-success">提问</button>
        </a>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-2">
                    <div class="profile-info-card">
                        <img class="img-fluid" th:src="${question.getUser().getProfileImgSrc()}" src="#">
                        <span th:text="${question.getUser().getProfileName()}"></span>
                        <button class="add-user-subscription btn btn-sm btn-outline-secondary"
                                th:attr="data-target-url=${'/users/'+question.getUserId()+'/subscription'}">
                            关注
                        </button>
                        <p th:text="${'reputations: '+question.getUser().getReputation()}"></p>
                    </div>
                    <form class="approval-form  d-inline-block"
                          th:action="@{${'/questions/'+question.getId()+'/approval'}}" method="post">
                        <button type="submit" class="btn btn-sm btn-success"><span class="oi oi-thumb-up"></span><span
                                th:text="${question.getApprovals()}"></span></button>
                    </form>
                    <form class="approval-form  d-inline-block"
                          th:action="@{${'/questions/'+question.getId()+'/disapproval'}}" method="post">
                        <button type="submit" class="btn btn-sm btn-danger"><span class="oi oi-thumb-down"></span><span
                                th:text="${question.getDisapprovals()}"></span></button>
                    </form>
                </div>
                <div class="col-10">
                    <div class="question-container">
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            quillReadOnlyData["question-[[${question.getId()}]]"] = /*[[${question.getDescription()}]]*/ 'default';
                            /*]]>*/
                        </script>
                        <!-- 问题描述 -->
                        <div th:id="${'question-'+question.getId()}" class="editor-data-read-only"></div>

                        <!-- 标签 -->
                        <a th:each="tag: ${question.getTags()}" th:href="@{${'/questions/tagged/'+tag.getTitle()}}"
                           href="#"
                           th:text="${tag.getTitle()}" class="badge  badge-pill ml-2">标签</a>

                        <!-- Button trigger modal -->
                        <button type="button" class="float-right btn btn-sm btn-outline-secondary" data-toggle="modal"
                                data-target="#questionEditModal">
                            编辑问题
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="questionEditModal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <form class="question-edit-form" th:action="@{${'/questions/'+question.getId()}}">
                                            <input name="questionId" type="text" th:value="${question.getId()}" hidden/>
                                            <div class="form-group">
                                                <label>标题</label>
                                                <input type="text" th:value="${question.getTitle()}"
                                                       class="form-control" name="title" title="请简要而精确描述问题内容" required/>
                                            </div>
                                            <div class="form-group">
                                                <label>标签</label>
                                                <input type="text" th:value="${tagString}" class="form-control"
                                                       name="tags"
                                                       title="问题标签, 使用 + 号分隔, 最多5个" required/>
                                            </div>
                                            <div class="form-group">
                                                <label>问题描述</label>
                                                <input name="question-description" type="hidden">
                                                <div id="question-editor" style="height: 180px;">

                                                </div>
                                            </div>

                                            <button class="btn btn-primary" type="submit">保存修改</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消
                                            </button>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <!-- 评论 -->
                        <ul class="comments-container">
                            <li th:each="comment: ${question.questionComments}">
                                <script th:inline="javascript">
                                    /*<![CDATA[*/
                                    quillReadOnlyData["question-comment-[[${comment.getId()}]]"] = /*[[${comment.getContent()}]]*/ 'default';
                                    /*]]>*/
                                </script>
                                <span th:text="${comment.getUser().getProfileName()} "
                                      class="text-info">User Name</span>
                                <span th:text="${comment.getCreateTime()}" class="text-secondary">Create Time</span>
                                <form class="comment-delete-form d-inline" th:action="@{${'/questions/'+question.getId()+'/comments/'+comment.getId()}}">
                                    <button class="btn btn-sm btn-outline-secondary" type="submit">删除</button>
                                </form>
                                <div th:id="${'question-comment-'+comment.getId()}" class="editor-data-read-only">
                                    问题评论
                                </div>
                            </li>
                            <li>
                                <!-- 添加评论 -->
                                <form class="comment-form" method="post"
                                      th:action="@{${'/questions/'+question.getId()+'/comment'}}">
                                    <div class="row">
                                        <div class="col-11">
                                            <div class="comment-editor"
                                                 th:id="${'add-question-comment-'+question.getId()}"></div>
                                        </div>
                                        <div class="col-1">
                                            <button class="btn btn-outline-secondary btn-sm" type="submit">评论</button>
                                        </div>
                                    </div>
                                </form>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>

            <h3 th:text="${question.getAnswers().size() + '个回答'}">回答</h3>

            <div th:each="answer: ${question.getAnswers()}" class="row">
                <div class="col-2">
                    <div class="profile-info-card">
                        <img class="img-fluid" th:src="${answer.getUser().getProfileImgSrc()}" src="#">
                        <span th:text="${answer.getUser().getProfileName()}"></span>
                        <button class="add-user-subscription btn btn-sm btn-outline-secondary"
                                th:attr="data-target-url=${'/users/'+question.getUserId()+'/subscription'}">
                            关注
                        </button>
                        <p th:text="${'reputations: '+answer.getUser().getReputation()}"></p>
                    </div>
                    <form class="approval-form  d-inline-block"
                          th:action="@{${'questions/'+question.getId()+'/answers/'+answer.getId()+'/approval'}}"
                          method="post">
                        <button type="submit" class="btn btn-sm btn-success"><span class="oi oi-thumb-up"></span><span
                                th:text="${answer.getApprovals()}"></span></button>
                    </form>
                    <form class="approval-form  d-inline-block"
                          th:action="@{${'questions/'+question.getId()+'/answers/'+answer.getId()+'/disapproval'}}"
                          method="post">
                        <button type="submit" class="btn btn-sm btn-danger"><span class="oi oi-thumb-down"></span><span
                                th:text="${answer.getDisapprovals()}"></span></button>
                    </form>
                </div>
                <div class="col-10">
                    <div class="answers-container">
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            quillReadOnlyData["answer-[[${answer.getId()}]]"] = /*[[${answer.getContent()}]]*/ 'default';
                            /*]]>*/
                        </script>
                        <!-- 回答内容 -->
                        <div th:id="${'answer-'+answer.getId()}" class="editor-data-read-only"></div>

                        <!-- Button trigger modal -->
                        <button type="button" class="float-right btn btn-sm btn-outline-secondary" data-toggle="modal"
                                th:attr="data-target=${'#answerEditModal-'+answer.getId()}">
                            编辑回答
                        </button>

                        <!-- Modal -->
                        <div class="modal fade answer-edit-modal" th:id="${'answerEditModal-'+answer.getId()}"
                             tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <form class="answer-edit-form"
                                              th:action="@{${'/questions/'+question.getId()+'/answers/'+answer.getId()}}">
                                            <input name="answerId" type="text" th:value="${answer.getId()}" hidden/>
                                            <div class="form-group">
                                                <label>回答内容</label>
                                                <div class="answer-edit-quill" style="height: 180px;">
                                                </div>
                                            </div>
                                            <button class="btn btn-primary" type="submit">保存修改</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消
                                            </button>
                                            <button class="delete-answer btn btn-sm btn-outline-danger float-right"
                                                             th:attr="data-target-url=${'/questions/'+question.getId()+'/answers/'+answer.getId()}">删除回答
                                            </button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 评论 -->
                        <ul class="comments-container">
                            <li th:each="comment: ${answer.getAnswerComments()}">
                                <script th:inline="javascript">
                                    /*<![CDATA[*/
                                    quillReadOnlyData["answer-comment-[[${comment.getId()}]]"] = /*[[${comment.getContent()}]]*/ 'default';
                                    /*]]>*/
                                </script>
                                <span th:text="${comment.getUser().getProfileName()}" class="text-info">User Name</span>
                                <span th:text="${comment.getCreateTime()}" class="text-secondary">Create Time</span>
                                <form class="comment-delete-form d-inline" th:action="@{${'/questions/'+question.getId()+'/answers/'+answer.getId()+'/comments/'+comment.getId()}}">
                                    <button class="btn btn-sm btn-outline-secondary" type="submit">删除</button>
                                </form>
                                <div th:id="${'answer-comment-'+comment.getId()}" class="editor-data-read-only">
                                    回答评论
                                </div>
                            </li>
                            <!-- 添加评论 -->
                            <li>
                                <form class="comment-form" method="post"
                                      th:action="@{${'/questions/'+question.getId()+'/answers/'+answer.getId()+'/comment'}}">
                                    <div class="row">
                                        <div class="col-11">
                                            <div class="comment-editor"
                                                 th:id="${'add-answer-comment-'+answer.getId()}"></div>
                                        </div>
                                        <div class="col-1">
                                            <button class="btn btn-outline-secondary btn-sm" type="submit">评论</button>
                                        </div>
                                    </div>
                                </form>
                            </li>

                        </ul>

                        <hr>

                    </div>
                </div>
            </div>

            <form class="answer-form" th:action="@{${'/questions/'+question.getId()+'/answer'}}">
                <div class="form-group">
                    <label for="answer-content">添加回答</label>
                    <input name="answer-content" id="answer-content" type="hidden">
                    <div id="answer-editor" style="height: 130px;"></div>
                </div>
                <button class="btn btn-primary" type="submit">Save Profile</button>
            </form>

        </div>

        <div class="col-md-3">
            <p th:text="${'提问时间: '+question.getCreateTime()}" style="font-size: 0.8rem"></p>
            <h5>相关问题</h5>

            <div th:each="q: ${relativeQuestions}" th:unless="${q.getId()==question.getId()}" class="" style="font-size: 0.8rem">
                <a class="nav-link" th:text="${q.getTitle()}" th:href="@{${'/questions/'+q.getId()+'/'+q.getTitle()}}"></a>
            </div>

        </div>
    </div>
</div>

<div th:replace="fragments/snipplets:: footer"></div>
<script th:replace="fragments/snipplets:: script"></script>
<script>
    /**
     * 加载原始数据到编辑器
     */
    var readOnlyEditors = {};
    $('.editor-data-read-only').each(function (i) {
        var $content = JSON.parse(quillReadOnlyData[$(this).attr('id')]);
        var id = $(this).attr("id");
        readOnlyEditors[id] = new Quill(this, {
            modules: {
                toolbar: []
            }, readOnly: true,
            theme: 'bubble'
        });
        readOnlyEditors[id].setContents($content);
    });

    /**
     * 初始化评论编辑框
     */
    var commentEditors = {};
    $('.comment-editor').each(function (i) {
        var id = $(this).attr("id");
        commentEditors[id] = new Quill(this, {
            modules: {
                toolbar: [
                    'bold',
                    'italic',
                    'underline',
                    'strike',
                    'link'
                ]
            },
            placeholder: '添加评论',
            theme: 'bubble'
        });
    });

    /**
     * 初始化回答编辑框
     * */
    var answerQuill = new Quill('#answer-editor', {
        modules: {
            toolbar: [
                ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                ['blockquote', 'code-block'],
                [{'header': 1}, {'header': 2}],               // custom button values
                [{'list': 'ordered'}, {'list': 'bullet'}],
                [{'header': [1, 2, 3, 4, 5, 6, false]}],

                [{'color': []}, {'background': []}],          // dropdown with defaults from theme
                [{'font': []}],
                [{'align': []}],

                ['clean']                                         // remove formatting button
            ]
        },
        placeholder: '添加回答',
        theme: 'snow'
    });

    /**
     * 编辑问题modal初始化
     */
    var questionEditQuill = null;
    $('#questionEditModal').on('show.bs.modal', function (event) {
        if (typeof(questionEditQuill) === 'undefined' || questionEditQuill === null) {
            questionEditQuill = new Quill('#question-editor', {
                modules: {
                    toolbar: [
                        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                        ['blockquote', 'code-block'],
                        [{'header': 1}, {'header': 2}],               // custom button values
                        [{'list': 'ordered'}, {'list': 'bullet'}],
                        [{'header': [1, 2, 3, 4, 5, 6, false]}],

                        [{'color': []}, {'background': []}],          // dropdown with defaults from theme
                        [{'font': []}],
                        [{'align': []}],

                        ['clean']                                         // remove formatting button
                    ]
                },
                theme: 'snow'
            });
            var contentId = 'question-' + $('.question-edit-form').find("input[name='questionId']").val();
            var $content = JSON.parse(quillReadOnlyData[contentId]);
            questionEditQuill.setContents($content);
        }
        $(this).find('.question-edit-form').submit(function (event) {
            if (!hasValidToken()) {
                alert("请先登录");
                localStorage.removeItem("token");
                event.preventDefault();
                location.replace('/user/sign-in');
                return;
            }
            var url = $(this).attr('action');
            var formData = {
                title: $(this).find("input[name='title']").val(),
                tags: $(this).find("input[name='tags']").val().split(/\+/g),
                description: JSON.stringify(questionEditQuill.getContents()),
                token: localStorage.getItem("token")
            };
            $.ajax({
                type: 'PUT', // define the type of HTTP verb we want to use (POST for our form)
                url: url, // the url where we want to POST
                data: formData, // our data object
                dataType: 'json', // what type of data do we expect back from the server
                encode: true,
                success: function (data) {
                    if (data.success === true) {
                        location.reload();
                    } else {
                        alert(data.message);
                    }
                }
            });
            // stop the form from submitting the normal way and refreshing the page
            event.preventDefault();
        });
    });

    /**
     * 编辑回答modal初始化
     */
    var answerEditQuills = {};
    $(".answer-edit-modal").each(function (i) {
        var id = $(this).attr('id');
        $(this).on('show.bs.modal', function (event) {
            if (typeof(answerEditQuills[id]) === 'undefined') {
                answerEditQuills[id] = new Quill($(this).find('.answer-edit-quill')[0], {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                            ['blockquote', 'code-block'],
                            [{'header': 1}, {'header': 2}],               // custom button values
                            [{'list': 'ordered'}, {'list': 'bullet'}],
                            [{'header': [1, 2, 3, 4, 5, 6, false]}],

                            [{'color': []}, {'background': []}],          // dropdown with defaults from theme
                            [{'font': []}],
                            [{'align': []}],

                            ['clean']                                         // remove formatting button
                        ]
                    },
                    theme: 'snow'
                });
                var contentId = 'answer-' + $(this).find("input[name='answerId']").val();
                var $content = JSON.parse(quillReadOnlyData[contentId]);
                answerEditQuills[id].setContents($content);
            }
        });
        $(this).find('.answer-edit-form').submit(function (event) {
            if (!hasValidToken()) {
                alert("请先登录");
                localStorage.removeItem("token");
                event.preventDefault();
                location.replace('/user/sign-in');
                return;
            }
            var url = $(this).attr('action');
            var formData = {
                content: JSON.stringify(answerEditQuills[id].getContents()),
                token: localStorage.getItem("token")
            };
            $.ajax({
                type: 'PUT', // define the type of HTTP verb we want to use (POST for our form)
                url: url, // the url where we want to POST
                data: formData, // our data object
                dataType: 'json', // what type of data do we expect back from the server
                encode: true,
                success: function (data) {
                    if (data.success === true) {
                        location.reload();
                    } else {
                        alert(data.message);
                    }
                }
            });
            // stop the form from submitting the normal way and refreshing the page
            event.preventDefault();
        });
    });

    /**
     * 提交回答
     */
    $('.answer-form').submit(function (event) {
        if (!hasValidToken()) {
            alert("请先登录");
            localStorage.removeItem("token");
            event.preventDefault();
            location.replace('/user/sign-in');
            return;
        }
        var url = $(this).attr('action');
        var formData = {
            content: JSON.stringify(answerQuill.getContents()),
            token: localStorage.getItem("token")
        };
        $.ajax({
            type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
            url: url, // the url where we want to POST
            data: formData, // our data object
            dataType: 'json', // what type of data do we expect back from the server
            encode: true,
            success: function (data) {
                if (data.success === true) {
                    location.reload();
                } else {
                    alert(data.message);
                }
            }
        });
        // stop the form from submitting the normal way and refreshing the page
        event.preventDefault();
    });

    /**
     * 提交评论
     */
    $('.comment-form').each(function (i) {
        $(this).submit(function (event) {
            if (!hasValidToken()) {
                alert("请先登录");
                localStorage.removeItem("token");
                event.preventDefault();
                location.replace('/user/sign-in');
                return;
            }
            var url = $(this).attr('action');
            var commentEditorId = $(this).find('.comment-editor').attr('id');
            var content = JSON.stringify(commentEditors[commentEditorId].getContents());
            var formData = {
                token: localStorage.getItem('token'),
                content: content
            };
            $.ajax({
                type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                url: url, // the url where we want to POST
                data: formData, // our data object
                dataType: 'json', // what type of data do we expect back from the server
                encode: true,
                success: function (data) {
                    if (data.success === true) {
                        location.reload();
                    } else {
                        alert(data.message);
                    }
                }
            });
            // stop the form from submitting the normal way and refreshing the page
            event.preventDefault();
        });
    });

    /**
     * 删除评论
     */
    $('.comment-delete-form').each(function(i) {
        $(this).submit(function (event) {
            if (!hasValidToken()) {
                alert("请先登录");
                localStorage.removeItem("token");
                event.preventDefault();
                location.replace('/user/sign-in');
                return;
            }
            var formData = {
                token: localStorage.getItem('token'),
            };
            $.ajax({
                type: 'DELETE', // define the type of HTTP verb we want to use (POST for our form)
                url: $(this).attr('action') +'?token='+localStorage.getItem('token'), // the url where we want to POST
                success: function (data) {
                    if (data.success === true) {
                        location.reload();
                    } else {
                        alert(data.message);
                    }
                }
            });
            event.preventDefault();
        })
    });

    /**
     * 提交点赞
     */
    $('.approval-form').each(function (i) {
        $(this).submit(function (event) {
            if (!hasValidToken()) {
                alert("请先登录");
                localStorage.removeItem("token");
                event.preventDefault();
                location.replace('/user/sign-in');
                return;
            }
            var url = $(this).attr('action');
            var formData = {
                token: localStorage.getItem('token'),
            };
            $.ajax({
                type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                url: url, // the url where we want to POST
                data: formData, // our data object
                dataType: 'json', // what type of data do we expect back from the server
                encode: true,
                success: function (data) {
                    if (data.success === true) {
                        location.reload();
                    } else {
                        alert(data.message);
                    }
                }
            });
            // stop the form from submitting the normal way and refreshing the page
            event.preventDefault();
        })
    });

    $('.delete-answer').each(function(i) {
        $(this).click(function () {
            if (!hasValidToken()) {
                alert("请先登录");
                localStorage.removeItem("token");
                event.preventDefault();
                location.replace('/user/sign-in');
                return;
            }
            var url = $(this).data('target-url')+'?token='+localStorage.getItem('token');
            $.ajax({
                type: 'DELETE', // define the type of HTTP verb we want to use (POST for our form)
                url: url, // the url where we want to POST
                dataType: 'json', // what type of data do we expect back from the server
                encode: true,
                success: function (data) {
                    if (data.success === true) {
                        location.reload();
                    } else {
                        alert(data.message);
                    }
                }
            })
        })
    })

    $('.add-question-bookmark, .add-question-subscription, .add-user-subscription').each(function (i) {
        $(this).click(function () {
            if (!hasValidToken()) {
                alert("请先登录");
                localStorage.removeItem("token");
                event.preventDefault();
                location.replace('/user/sign-in');
                return;
            }
            var url = $(this).data('target-url')+'?token='+localStorage.getItem('token');
            $.ajax({
                type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                url: url, // the url where we want to POST
                dataType: 'json', // what type of data do we expect back from the server
                encode: true,
                success: function (data) {
                    if (data.success === true) {
                        location.reload();
                    } else {
                        alert(data.message);
                    }
                }
            })
        })
    })
</script>
</body>
</html>